{% extends "layout.twig" %}
{% block content %}



	<div class="sidebar">
		<h1 class="sidebar-title">Logo Berseck</h1>
		<ul class="main-menu">
			<li><a class="open-modal-desc" href="">Description</a></li>
			<li><a href="{{path_for('upload')}}">Participer</a></li>
		</ul>
		<p class="cotest-name">{{ controller.getCurrentContest['title'] }}</p>
		<div class="footer-sidebar">
			<a href="" class="button-part"><i class="icon-facebook"></i>Partager l'application</a>
			<p class="copyright">&copy; Berseck Team</p>
		</div>
	</div>

	<div class="visuel-container">
		<div class="main-slider">
			<div class="slide">
				<i class="icon-heart vote"></i>
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
			<div class="slide">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
			<div class="slide">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
			<div class="slide">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
		</div>
		<div class="slider-menu-container">
			<div class="slider-menu">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg">
			</div>
		</div>
	</div>

	<div class="modal-desc">
		<div class="container">
			<i class="icon-cancel-circle"></i>
			<div class="content">
				<h2 class="title">Title modal</h2>
				<p class="text">Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque circenses ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat, insolentiae pondera gravius librans, siquid dubium deferebatur aut falsum, pro liquido accipiens et conperto, inter alia excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.

Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum.</p>
			</div>
		</div>
	</div>

{% endblock %}