{% extends "layout.twig" %}
{% block content %}
	<div class="sidebar">
		<h1 class="sidebar-title">Logo Berseck</h1>
		<ul class="main-menu">
			<li><a class="open-modal-desc" href="">Description</a></li>
			<li><a href="{{path_for('upload'/11921293)}}">Participer</a></li>
		</ul>
		<p class="cotest-name">{{ controller.getCurrentContest['title'] }}</p>
		<div class="footer-sidebar">
			<a href="" class="button-part"><i class="icon-facebook"></i>Partager l'application</a>
			<p class="copyright">&copy; Berseck Team</p>
		</div>
	</div>
	<div class="visuel-container">
		<div class="main-slider">
			<div class="slide">
				<i class="icon-heart vote"></i>
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
			<div class="slide">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
			<div class="slide">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
			<div class="slide">
				<img class="visuel" src="http://i-cms.linternaute.com/image_cms/original/2377659-les-100-plus-beaux-paysages-de-france.jpg" />
				<div class="slide-desc">
					<h2 class="slide-title">Titre de l'image</h2>
					<p class="slide-text">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</p>
				</div>
			</div>
		</div>
		<div class="slider-menu-container">
			<div class="slider-menu">
				{% for contestants in controller.getCurrentPhotos()%}
					<img class="visuel" src="{{contestants.id_picture}}">
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="modal-desc">
		<div class="container">
			<i class="icon-cancel-circle"></i>
			<div class="content">
				<h2 class="title">Title modal</h2>
				<p class="text">Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque circenses ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat, insolentiae pondera gravius librans, siquid dubium deferebatur aut falsum, pro liquido accipiens et conperto, inter alia excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.

Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum.</p>
			</div>
		</div>
	</div>
	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #337ab7;border-color: #337ab7;">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand title-big-tim" href="#" style="color:white">Nom du concours</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse title-tim" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav " style="padding-top: 1px;">
                    <li>
                        <a href="index.html" style="color:white">Photos</a>
                    </li>
                    <li>
                      <a href="participer.html" style="color:white">Participer</a>
                    </li>
                    <li>
                        <a href="#" style="color:white" data-toggle="modal" data-target="#myModal">Comment jouer ?</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#" style="color:white">Login</a>
                  </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" style="height:100%;">
        <div class="row" style="height:100%;">
          <div class="col-md-3">
              <div class="list-group title-tim">
                  <a href="#" class="list-group-item active" id="random1">Random <i class="icon-angle-right" style="float:right;margin-top:1px;"></i></a>
                  <a href="#" class="list-group-item" id="allPictures1">All pictures <i class="icon-angle-right" style="float:right;margin-top:1px;"></i></a>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading title-tim" style="background-color: #337ab7;border-color: #337ab7;">
                      <h5 style="margin-top: 5px;margin-bottom: 5px;color:white"><i class="fa fa-fw fa-check"></i> Description</h5>
                  </div>
                  <div class="panel-body">
                    <div>
                      <i class=" icon-calendar" style="font-size:20px"></i>
                      &nbsp;&nbsp; 01/02/2017 &nbsp; - &nbsp; 31/02/2017
                    </div>
                    <br>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                      expedita tenetur ?
                    </p>
                    <br>
                    <div>
                      <i class="icon-award" style="font-size:20px"></i>
                      &nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                  </div>
                </div>
                <a href="#">
                  <button type="button" class="btn btn-default btn-lg btn-block title-tim" style="color:#337ab7;border-color: #337ab7;">
                    <i class="icon-gamepad"></i> Participer
                  </button>
                </a>
                <a href="#">
                  <button type="button" class="btn btn-default btn-lg btn-block title-tim"  style="margin-top:10px;margin-bottom:10px;background-color: #337ab7;color: white;border-color: #337ab7;">
                    <i class="icon-facebook"></i> Partager
                  </button>
                </a>

          </div>
            <div class="col-md-9" style="height:100%;">

              <div id="random2" style="height:100%;">
                <div class="thumbnail" style="height:97%;">
                    <img src="http://placehold.it/800x500" alt="" style="height:85%;width:100%;">
                    <div class="caption text-center" style="height:15%;position:relative">
                      <div style="position:absolute;top:50%;left:0;right:0;transform: translateY(-50%);">
                        <button type="button" class="btn btn-default" style="height:50px;width:50px;border-radius:25px;">
                          <i class="icon-left"></i>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-default" style="height:50px;width:50px;border-radius:25px;border-color: #337ab7;">
                          <i class="icon-thumbs-up" style="color: #337ab7;"></i>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-default" style="height:50px;width:50px;border-radius:25px;">
                          <i class="icon-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="allPictures2" class="hidden">
                   <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x600" alt="">
                      </div>
                  </div>
                </div>


                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}