{% extends "layout.twig" %}
{% block content %}
    <p>Connectez-vous à facebook !</p>
    <div id="button" style="width : 100px; height: 100px; background-color: white;">Connectez-vous !</div>
{% endblock %}
{% block javascript %}
    <script src="../assets/script/controller/loginController.js"></script>
    <script src="../assets/script/service/request.js"></script>
{% endblock %}