{% extends "layout.twig" %}
{% block content %}

<div class="container">
	<header>
		<h1>Choisir une photo parmi vos albums</h1>	
		<nav class="codrops-demos" id ="albums-list"></nav>
	</header>
	Warning : Si vous participer déjà à ce concours, et que vous ajouter une nouvelle image, l'ancienne sera supprimer et votre compteur remis à 0.
</div>
<ul class="grid effect-1" id="grid"></ul>
{% endblock %}
{% block javascript %}
	<script src="../assets/script/config/app.js"></script>
	<script src="../assets/script/helper/helper.js"></script>
	<script src="../assets/script/service/request.js"></script>
	<script src="../assets/script/controller/userController.js"></script>
{% endblock %}

	