{% extends "layout.twig" %}
{% block content %}

<!--
<div class="container">
	<header>
		<h1>Choisir une photo parmi vos albums</h1>	
		<nav class="codrops-demos" id ="albums-list"></nav>
	</header>
	Warning : Si vous participer déjà à ce concours, et que vous ajouter une nouvelle image, l'ancienne sera supprimer et votre compteur remis à 0.
</div>
<ul class="grid effect-1" id="grid"></ul>
-->

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #337ab7;border-color: #337ab7;">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand title-big-tim" href="#" style="color:white">Nom du concours</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse title-tim" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav " style="padding-top: 1px;">
                    <li>
                        <a href="index.html" style="color:white">Photos</a>
                    </li>
                    <li>
                      <a href="participer.html" style="color:white">Participer</a>
                    </li>
                    <li>
                      <a href="#" style="color:white" data-toggle="modal" data-target="#myModal">Comment jouer ?</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#" style="color:white">Login</a>
                  </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content Of the Album -->
    <div class="container">
        <div class="row" id="albums-list"></div>
    </div>
    <!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
{% block javascript %}
	<script src="../assets/script/config/app.js"></script>
	<script src="../assets/script/helper/helper.js"></script>
	<script src="../assets/script/service/request.js"></script>
	<script src="../assets/script/controller/userController.js"></script>
{% endblock %}

	