@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Open-Sans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body{
  font-family: Open-Sans-Regular;
}

/* ### NAVBAR ### */
.navbar-surcharge{
  margin-bottom:0px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-family: Montserrat-Regular;
}
.navbar-nav{
  padding-top: 1px;
}
.navbar-inverse .navbar-brand {
  color:#333333;
}
.navbar-inverse .navbar-nav>li>a {
    color:#333333;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: transparent;
}

/* ### PAGE CONTENT ### */
#page-wrapper{
  margin:0;
}
.page-header {
    font-family: Montserrat-Regular;
}

.panel-default>.panel-heading {
  background-color: white;
  font-family: Montserrat-Bold;
  font-size: 16px;
  border-color: #e7e7e7;
}
.panel-footer {
    color: black;
    font-family: Montserrat-Regular;
}

.stop-icon{
  opacity: 0.5;
}
.start-icon{
  color:#63D297;
}

.stop-button{
  color: red;
  margin-right: 5px;
}
.start-button{
  color: #63D297;
  margin-right: 5px;
}
.export-button{
  background-color: #A4C2F4;
  color: white;
  font-family: Montserrat-Regular;
  margin-top: 20px;
}
.edit-button{
  background-color: #A4C2F4;
  color:white;
}

#validContent, #cancelEdit{
  display: none;
}

.valid-button{
  background-color:#63D297;
  color:white;
}

.file-input{
  width: 100%;
  height: 100%r;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

#up{
  position: relative;
}

.popup{
  position: absolute;
  width: 400px;
}

.popup img{
  width: 100%;
}

.full-width{
  width: 100%;
}

.flex{
  display: flex;
}


