@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hab3ms');
  src:  url('../fonts/icomoon.eot?hab3ms#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hab3ms') format('truetype'),
    url('../fonts/icomoon.woff?hab3ms') format('woff'),
    url('../fonts/icomoon.svg?hab3ms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-heart:before {
  content: "\e9da";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook:before {
  content: "\ea90";
}


