@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hab3ms');
  src:  url('../fonts/icomoon.eot?hab3ms#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hab3ms') format('truetype'),
    url('../fonts/icomoon.woff?hab3ms') format('woff'),
    url('../fonts/icomoon.svg?hab3ms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
}
.icon-circle-up:before {
  content: "\ea41";
}


body{
    max-width: 820px;
    margin-right: auto;
    margin-left: auto;
}

.visuel{
    width: 100%;
}

.grid-item{
    width: 30%;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.grid-item:nth-child(3n+1){
    margin-left: 0;
}

.hover-container{
    position: absolute;
    opacity: 0;
}