<!DOCTYPE html>
<html lang="fr" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Choisir une image dans votre facebook</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<!-- Bootstrap Core CSS -->
	    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="../assets/css/index.css" rel="stylesheet">
	    <link rel="stylesheet" href="../assets/css/animation.css">
	    <link rel="stylesheet" href="../assets/css/faq.css">
    	<link href="../assets/css/main.css" rel="stylesheet">
    	<link rel="stylesheet" href="../controllers/custom-style.php" media="screen" />

		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
	</head>
	<body><!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top custom-background" role="navigation">
		<div class="container">
				<!-- Burger Mobile -->
				<div class="navbar-header" >
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Nom du concours</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" style="padding-top: 1px;">
						<li>
							<a href="/" class="custom-font-color">Photos</a>
						</li>
						<li>
							<a href="upload">Participer</a>
						</li>
						<li>
							<a href="#" data-toggle="modal" data-target="#myModal">Comment jouer ?</a>
						</li>
						<li>
							<a href="/admin">Admin</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Partager</a>
					</li>
					</ul>
				</div>
				<!-- /.Burger Mobile -->
			</div>
		</nav>
		{% block content %}{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<script src="../assets/script/bootstrap.min.js"></script>
		
		<script src="../assets/script/config/app.js"></script>
	</body>
	{% block javascript %} {% endblock %}
