{% extends "./contest/layout.twig" %}
{% block content %}
    <div class="connec">
        <img src="{{data.asset_path}}/img/user.png"/>
        <div id="button" class="navbar-inverse"><p>Connectez-vous !</p></div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{data.asset_path}}/script/config/app.js"></script>
    <script src="{{data.asset_path}}/script/controller/loginController.js"></script>
    <script src="{{data.asset_path}}/script/service/request.js"></script>
{% endblock %}