{% extends "./contest/layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Politique modèle de confidentialité</h1>
            <h2>Introduction</h2>
            <p>Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</p>
            <hr/>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Collecte des renseignements personnels</h1>
            <h2>Nous collectons les éléments suivants</h2>
            <nav>
                <ul>
                    <li>Nom</li>
                    <li>Prénom</li>
                    <li>Code postal</li>
                    <li>Adresse electronique</li>
                    <li>Numéro de téléphone / télécopieur</li>
                    <li>Âge / Date de naissance</li>
                    <li>Préférences (musicales, littéraires, cinématographiques, etc.)</li>
                </ul>
            </nav>
            <p>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.</p>
            <hr/>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Formulaires  et interactivité:</h1>
            <h2>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</h2>
            <nav>
                <ul>
                    <li>Concours</li>
                    <li>Informations / Offres promotionnelles</li>
                    <li>Statistiques</li>
                    <li>Contact</li>
                    <li>Gestion du site Web (présentation, organisation)</li>
                    <li>Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et ce, de la façon suivante:</li>
                    <li>Statistiques</li>
                    <li>Contact</li>
                    <li>Gestion du site Web (présentation, organisation)</li>
                    <li>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</li>
                    <li>Correspondance</li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Formulaires  et interactivité:</h1>
            <h2>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</h2>
            <nav>
                <ul>
                    <li>Concours</li>
                    <li>Informations / Offres promotionnelles</li>
                    <li>Statistiques</li>
                    <li>Contact</li>
                    <li>Gestion du site Web (présentation, organisation)</li>
                    <li>Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et ce, de la façon suivante:</li>
                    <li>Statistiques</li>
                    <li>Contact</li>
                    <li>Gestion du site Web (présentation, organisation)</li>
                    <li>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</li>
                    <li>Correspondance</li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Droit d'opposition et de retrait:</h1>
            <p>Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels. Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
Pour pouvoir exercer ces droits, vous pouvez :  Code postal : 2 Boulevard du Général Gallieni, Bry sur Marne 94360 Courriel : contact@pardon-maman.com Téléphone : 09 52 95 67 55 Section du site web : https://pardon-maman.com/
</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Droit d'accès:</h1>
            <p>Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant. L'exercice de ce droit se fera : Code postal : 2 Boulevard du Général Gallieni, Bry sur Marne 94360 Courriel : contact@pardon-maman.com Téléphone : 09 52 95 67 55 Section du site web : https://pardon-maman.com/</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Droit d'accès:</h1>
            <p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.<p>
            <nav>
                <ul>
                    <li>Protocole SSL (Secure Sockets Layer)</li>
                    <li>Protocole SET (Secure Electronic Transaction)</li>
                    <li>Gestion des accès - personne autorisée</li>
                    <li>Gestion des accès - personne concernée</li>
                    <li>Sauvegarde informatique</li>
                    <li>Développement de certificat numérique</li>
                </ul>
            </nav>
            <p>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</p>
        </div>
    </div>
{% endblock %}