{% extends "./contest/layout.twig" %}
{% block content %}
    <!-- Page Content Of the Album -->
    <div class="collapse in" id="albumCollapse">
        <div class="container">
            <div class="row" id="albums-list">
              <div class="col-md-12 text-center">
                <div class="row"></div>
              </div>
            </div>
        </div>
    </div>
    
    <!-- /.container of the photos that the user can choose -->
    <div class="collapse" id="imageCollapse">
      <div class="content-resizer">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="row" id="photo-list">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="computer">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="row">
              <button type="button" class="btn btn-default btn-lg btn-block share-button custom-background" id="up">
                      <input type="file" id="input" class="file-input">
                      <i class="fa fa-upload"></i> Add Files
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="back-button navbar-inverse">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
	<script src="{{data.asset_path}}/script/config/app.js"></script>
	<script src="{{data.asset_path}}/script/helper/helper.js"></script>
	<script src="{{data.asset_path}}/script/service/request.js"></script>
	<script src="{{data.asset_path}}/script/controller/userController.js"></script>
{% endblock %}

	